/* -----FILTER MOBILE START----- */

.filter {
  background-color: var(--btnColor_2);
  box-shadow: -1px 5px 10px rgb(174, 197, 193);
  margin-top: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.filter_txt {
  font-size: 1rem;
  color: var(--btnColor_1);
  font-weight: 700;
}
.filter .row .col {
  display: flex;
  flex-direction: column;
  /* row-gap: 0.3rem; */
}
.filter .row .col .filter_key,
.filter .row .col .select_option,
.filter .row .col .check_box_label,
.filter .row .col .button_text {
  font-size: 0.85rem;
}
.filter_key {
  color: var(--text-color);
  font-weight: 600;
}
.row {
  row-gap: 1rem;
}
.check_box_stl1 {
  padding: 0.7rem 1rem;
}
.check_box_stl1 .check_box {
  width: 1.6rem;
  height: 1.6rem;
}
.filter_btn_ctn {
  align-self: flex-end;
}
.btn_stl1 {
  padding: 0.9rem;
}
.filter_ctn .row .col {
  padding-left: 4px;
  padding-right: 4px;
}
.check_box_stl1,
.select_item_ctn {
  margin-top: 0.3rem;
}
.select_stl1 {
  border: unset;
}
.select_stl1:hover {
  cursor: pointer;
  border: unset;
  transition: unset;
}
.select_item_ctn {
  border: 0.5px solid var(--border-color);
}
.select_item_ctn:hover {
  border: 1px solid var(--btnColor_1);
  /* transition: 0.5s; */
}
.select_case {
  background-color: var(--btnColor_2);
  border: 1px solid var(--btnColor_1);
  position: absolute;
  row-gap: unset;
  flex-direction: column;
  width: 75%;
  height: 10rem;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 999;
  scrollbar-width: thin;
  scrollbar-color: var(--speColor_5) var(--tranColor);
}
.select_case::-webkit-scrollbar {
  width: 3px;
}
.select_case::-webkit-scrollbar-thumb {
  background-color: var(--speColor_5);
}
.select_item span {
  padding: 1rem;
  font-weight: bold;
}
.select_item:hover {
  background-color: var(--btnColor_1);
}
/* .select_case_ctn {
  display: none;
} */
.check_box_stl1 div:active > .check_box {
  transition: 0s;
}

.check_box svg {
  width: 1rem;
  height: 1rem;
}
.select_item_ctn,
.check_box_stl1 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media only screen and (min-width: 320px) {
  .select_case {
    width: 85%;
  }
}
@media only screen and (min-width: 530px) {
  .select_case {
    width: 83%;
  }
}
@media only screen and (min-width: 630px) {
  .select_case {
    width: 85%;
  }
}
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .select_case {
    width: 13.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .select_case {
    width: 9.7rem;
  }
}
@media only screen and (min-width: 1240px) {
  .select_case {
    width: 12.5rem;
  }
}
/* -----FILTER MOBILE END----- */

/* -----FILTER PC START----- */
@media only screen and (min-width: 1240px) and (max-width: 1400px) {
  .filter_ctn {
    padding: 0 48px !important;
  }
}
/* -----FILTER PC END----- */
