:root {
  --color_red_1: var(--speColor_7);
  --color_red_2: var(--btnColor_hover_2);
  --color_red_3: var(--speColor_13);

  --color_green_1: var(--speColor_11);
  --color_green_2: var(--btnColor_1);
  --color_green_3: var(--speColor_5);

  --color_black_1: var(--border_color_2);
  --color_black_2: var(--border_color_3);

  --color_blue_1: var(--speColor_8);
  --color_blue_3: var(--speColor_12);

  --color_gray_1: var(--txtColor_5);
  --color_yellow_1: var(--speColor_9);
  --color_white_1: var(--btnColor_2);
  --color_orange_1: var(--speColor_3);

  --color_bg_1: var(--bgColor_3);
}
body {
  background-color: var(--bgColor_4);
  /* font-family: "Montserrat", Josefin Sans;
  font-family: "Roboto Slab", Josefin Sans;
  font-family: "Quicksand", Josefin Sans;
  font-family: "Times New Roman", Josefin Sans; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif;
}
.e_tutor_ctn {
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
}
svg {
  width: 1rem;
  height: 1rem;
}
h1 {
  margin: 0;
}
.section {
  height: 25rem;
  font-size: 4rem;
  text-align: center;
}
.e_tutor_congrats,
.tutor_list_banner,
.e_tutor_promise,
.e_tutor_header {
  padding: 0 10px;
}
.e_tutor_congrats_ctn,
.e_tutor_list_ctn,
.e_tutor_promise_ctn {
  margin-top: 1.5rem;
}
.s1,
.s3,
.s5,
.s7,
.s9,
.s11,
.s13,
.s15 {
  background-color: yellowgreen;
}
.s2,
.s4,
.s6,
.s8,
.s10,
.s12,
.s14 {
  background-color: orange;
}
/* ------------------------------------------------------------------------------------------ */
/* -----IELTS TUTOR MOBILE - START----- */
/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */
/* -----IELTS TUTOR PAGE HEADER - START----- */
/* ------------------------------------------------------------------------------------------ */

.tutor_header_img,
.header_btns_fee button,
.header_btns_advise button,
.tutor_header_btns,
.tutor_header_address,
.header_contact_hcm,
.header_contact_hn,
.tutor_header_contact,
.tutor_header_logo,
.e_tutor_header {
  display: flex;
  text-align: center;
}
.tutor_header_img,
.tutor_header_logo {
  justify-content: center;
}
.tutor_header_ttl,
.tutor_header_num {
  font-weight: bold;
}
.tutor_header_btns,
.header_contact_hcm,
.header_contact_hn,
.tutor_header_contact {
  flex-direction: column;
}
.header_contact_hcm,
.header_contact_hn,
.tutor_header_contact {
  align-items: center;
  row-gap: 0.5rem;
}
.tutor_header_btns,
.e_tutor_header {
  width: 100%;
  row-gap: 1rem;
  font-size: 1.1rem;
}
.tutor_header_btns button,
.tutor_header_btns button span {
  color: var(--btnColor_2);
  font-size: 1.2rem;
  opacity: unset;
}
.tutor_header_btns button {
  width: 100%;
  border: unset;
  justify-content: center;
  column-gap: 0.5rem;
  padding: 0.5rem 1rem;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}
.tutor_header_btns button:hover {
  opacity: 0.7;
  transition: all 0.2s;
}
.tutor_header_btns svg {
  width: 1.5rem;
  height: 1.5rem;
}
.header_btns_fee button {
  background-color: var(--color_green_1);
}
.header_btns_fee button:hover {
  background-color: var(--color_green_2);
}
.header_btns_advise button {
  background-color: var(--color_red_1);
}
.header_btns_advise button:hover {
  background-color: var(--color_red_2);
}
.e_tutor_header span {
  color: var(--color_gray_1);
  opacity: 0.7;
}
.tutor_header_num {
  color: var(--color_red_1);
}
.tutor_header_address {
  row-gap: 1rem;
  flex-direction: column;
}
.tutor_header_logo img {
  height: 9rem;
  width: 9rem;
}

/* ------------------------------------------------------------------------------------------ */
/* -----IELTS TUTOR PAGE HEADER - END----- */
/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */
/* -----IELTS TUTOR PROMISE - START----- */
/* ------------------------------------------------------------------------------------------ */

.e_tutor_promise_ctn {
  padding-bottom: 1.5rem;
}
.promise_txt_item,
.promise_txt_group {
  display: flex;
}
.promise_txt_item,
.promise_txt_group {
  flex-direction: column;
}
.promise_txt_group {
  margin-top: 1rem;
  row-gap: 2rem;
}
.promise_txt_item {
  row-gap: 0.5rem;
  align-items: center;
}
.promise_txt_item svg {
  color: var(--color_red_1);
}
.tutor_promise_ctt {
  text-align: center;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
.tutor_promise_ttl p {
  font-family: "Roboto Slab", Josefin Sans;
  color: var(--color_red_1);
  font-size: 2.8rem;
}
.tutor_promise_sub_ttl {
  font-family: "Montserrat", Josefin Sans;
  font-size: 2rem;
  font-weight: 500;
}
.tutor_promise_sub_ttl span {
  font-weight: 700;
}
.tutor_promise_line {
  margin: 0 auto;
  width: 30%;
  padding: 1rem 0;
}
.tutor_promise_line hr {
  background-color: var(--color_black_1);
}
/* ------------------------------------------------------------------------------------------ */
/* -----IELTS TUTOR PROMISE - END----- */
/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */
/* -----IELTS TUTOR ACHIEVE - START----- */
/* ------------------------------------------------------------------------------------------ */
.e_tutor_achieve_ctn {
  background-color: var(--color_blue_1);
}
.tutor_achieve_ctt i,
.tutor_achieve_ctt h1 {
  color: var(--color_white_1);
  margin: 0;
}
.tutor_achieve_ctt h1 {
  word-spacing: 0.5rem;
}
.tutor_achieve_ctt i {
  font-size: 1.5rem;
}
.tutor_achieve_ctt span,
.tutor_achieve_ctt p {
  color: var(--color_yellow_1);
  font-size: 1.5rem;
  font-weight: bold;
}
.tutor_achieve_ctt {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  line-height: 2rem;
}
/* ------------------------------------------------------------------------------------------ */
/* -----IELTS TUTOR ACHIEVE - END----- */
/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */
/* -----IELTS TUTOR LIST - START----- */
/* ------------------------------------------------------------------------------------------ */
.tutor_list_banner {
  text-align: center;
}
.tutor_list_ctt,
.e_tutor_list_ctn,
.list_form_ttl,
.list_form_btn button,
.form_area_group,
.form_input_group,
.list_form_fill,
.list_banner_ctt {
  display: flex;
}
.tutor_list_ctt,
.e_tutor_list_ctn,
.list_form_ttl,
.form_area_group,
.form_input_group,
.list_form_fill,
.list_banner_ctt {
  flex-direction: column;
}
.tutor_list_ctt,
.e_tutor_list_ctn,
.form_input_group,
.list_banner_ctt {
  row-gap: 1rem;
}
.list_banner_ctt h1 {
  color: var(--color_blue_1);
  opacity: 0.9;
  font-size: 1.8rem;
}
.list_banner_ctt p {
  color: var(--color_gray_1);
  font-size: 1.5rem;
  opacity: 0.7;
  font-weight: 500;
}
.tutor_list_ctt_bg {
  background-color: var(--color_bg_1);
}
.tutor_list_ctt {
  padding: 3rem 10px;
}
.tutor_list_form_ctn {
  overflow: hidden;
  border-radius: 10px;
}
.tutor_list_form {
  position: relative;
  border: 3px dashed var(--color_orange_1);
  border-radius: 10px;
  height: 39rem;
}
.list_form_ttl {
  position: absolute;
  inset: -5px -5px -5px;
  background-color: var(--color_orange_1);
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
  height: 14rem;
  padding: 1rem 2rem;
  text-align: center;
  justify-content: center;
  color: var(--color_white_1);
  font-family: "Times New Roman", Josefin Sans;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2rem;
}
.list_form_ttl span {
  text-decoration: underline;
}
.list_form_fill {
  position: absolute;
  bottom: 0;
  padding: 2rem 1.5rem 3rem;
  width: 100%;
  row-gap: 2rem;
}
.list_form_input input {
  width: 100%;
  background-color: var(--color_white_1);
  border: 1px solid var(--color_black_2);
  padding: 0.8rem 1rem;
  outline: 1px solid transparent;
}
.form_area_group {
  row-gap: 0.5rem;
}
.form_area_group p,
.form_area_group label {
  color: var(--color_gray_1);
  opacity: 0.7;
}
.form_area_group p {
  font-style: italic;
  text-decoration: underline;
  font-size: 1.2rem;
}
.form_area_group input {
  transform: scale(1.4);
  cursor: pointer;
}
.list_form_btn button {
  width: 100%;
  border: unset;
  background-color: var(--color_green_1);
  padding: 0.8rem 1rem;
  color: var(--color_white_1);
  align-items: center;
  opacity: unset;
  border-radius: 5px;
  justify-content: center;
  column-gap: 0.5rem;
  cursor: pointer;
}
.list_form_btn button:hover {
  background-color: var(--color_green_2);
}
/* ------------------------------------------------------------------------------------------ */
/* -----IELTS TUTOR LIST - END----- */
/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */
/* -----SPECIAL TUTOR - START----- */
/* ------------------------------------------------------------------------------------------ */

.special_ctt_item {
  display: flex;
}
.special_ctt_item {
  flex-direction: column;
}
.e_tutor_special_bg {
  background-color: var(--color_blue_2);
  padding: 4rem 10px;
  color: var(--color_white_1);
}
.tutor_special_ttl {
  margin-bottom: 1rem;
}
.special_ttl_txt {
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
  font-family: "Times New Roman", Josefin Sans;
  line-height: 3.5rem;
  padding: 0 1rem;
}
.special_ctt_item {
  padding: 2rem;
  align-items: center;
}
.special_item_img {
  max-width: 10rem;
  max-height: 10rem;
  margin-bottom: 2rem;
}
.special_item_img img {
  width: 100%;
  height: 100%;
}
.special_item_ttl {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.special_item_txt {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* ------------------------------------------------------------------------------------------ */
/* -----SPECIAL TUTOR - END----- */
/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */
/* -----CONGRATULATIONS - START----- */
/* ------------------------------------------------------------------------------------------ */

.congrats_arrow_img,
.tutor_congrats_txts,
.e_tutor_congrats {
  display: flex;
}
.e_tutor_congrats {
  flex-direction: column-reverse;
}
.tutor_congrats_txts h1,
.tutor_congrats_arrow p {
  font-family: "Times New Roman", Josefin Sans;
}
.e_tutor_congrats_ctn {
  margin-bottom: 2rem;
}
.tutor_congrats_img {
  width: 100%;
  height: 18rem;
}
.tutor_congrats_img img {
  width: 100%;
  height: 100%;
}
.tutor_congrats_txts {
  margin: 2rem 0;
  row-gap: 1rem;
  flex-direction: column;
}
.tutor_congrats_txts p {
  font-size: 1.4rem;
  color: var(--color_black_1);
  opacity: 0.6;
}
.tutor_congrats_txts h1 {
  font-size: 2.3rem;
  color: var(--color_blue_2);
}
.tutor_congrats_txts h3 {
  font-size: 1.3rem;
  color: var(--color_blue_1);
}
.tutor_congrats_arrow p {
  font-size: 1.1rem;
  font-style: italic;
  color: var(--color_gray_1);
  opacity: 0.7;
}
.congrats_arrow_img {
  justify-content: center;
}

/* ------------------------------------------------------------------------------------------ */
/* -----CONGRATULATIONS - END----- */
/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */
/* -----INTERACT - START----- */
/* ------------------------------------------------------------------------------------------ */

.improve_bg_img,
.improve_document,
.interact_ctt,
.interact_txt,
.interact_item {
  display: flex;
  flex-direction: column;
}
.interact_ctt {
  row-gap: 1.2rem;
}
.improve_document,
.interact_txt,
.interact_item {
  row-gap: 0.8rem;
}
.e_tutor_interact_ctn {
  color: var(--color_white_1);
}
.e_tutor_interact_bg {
  background-color: var(--color_blue_2);
}
.tutor_interact {
  background-image: url(/assets/img/background-day-ielts-1-kem-1-min.jpg);
  background-size: cover;
}
.interact_bg {
  background-color: var(--color_blue_2);
  padding: 2rem 10px;
}
.txt_r {
  text-align: right;
}
.interact_ttl {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 4px 3px var(--color_blue_1);
}
.interact_ttl span {
  color: var(--color_yellow_1);
}
.interact_hr {
  margin: 0 auto;
  width: 30%;
  padding: 1rem 0;
}
.interact_hr hr {
  background-color: var(--color_white_1);
}
.interact_icon svg {
  width: 2rem;
  height: 2rem;
}
.improve_txt p,
.interact_txt p {
  line-height: 2rem;
  font-family: "Times New Roman", Josefin Sans;
  font-size: 1.2rem;
}
.interact_txt h3 {
  font-size: 1.3rem;
}
.improve_document,
.improve_ttl {
  padding: 1rem;
}
.improve_bg_img {
  align-items: center;
}
.improve_btn {
  padding-bottom: 2rem;
}
.improve_btn button {
  border: unset;
  color: var(--color_white_1);
  font-weight: bold;
  font-size: 1.5rem;
  padding: 2rem 3rem;
  border-radius: 20px;
  background-color: var(--color_green_1);
  box-shadow: 0px 10px 0px var(--color_green_3);
  cursor: pointer;
  transition: width 1s, height 1s, background-color 2s, box-shadow 2s,
    transform 1s;
}
.improve_btn button:hover {
  background-color: var(--color_blue_3);
  box-shadow: 0px 10px 0px var(--color_blue_1);
  transform: scale(1.2);
}

/* ------------------------------------------------------------------------------------------ */
/* -----INTERACT - END----- */
/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */
/* -----MOTIVATION - START----- */
/* ------------------------------------------------------------------------------------------ */

.tutor_motiva {
  display: flex;
}
.tutor_motiva {
  flex-direction: column;
  row-gap: 1rem;
}
.e_tutor_motiva_bg {
  position: relative;
  background-color: var(--color_blue_2);
  background-image: url(/assets/img/luyen-thi-ielts-1-kem-1-min.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 55rem;
}
.e_tutor_motiva_bottom {
  position: absolute;
  left: 0;
  bottom: -11px;
  width: 100%;
}
.e_tutor_motiva_bottom svg {
  width: 100%;
  height: 5rem;
  color: var(--color_white_1);
  background-color: var(--color_blue_2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  fill: var(--color_white_1);
}
.tutor_motiva {
  padding: 2rem;
  color: var(--color_white_1);
}
.tutor_motiva h3 {
  text-shadow: 4px 3px var(--color_blue_1);
  font-size: 1.8rem;
}
.tutor_motiva h1 {
  text-shadow: 4px 0px var(--color_red_1);
  color: var(--color_yellow_1);
  font-size: 3rem;
}
.tutor_motiva strong,
.tutor_motiva p {
  font-family: "Times New Roman", Josefin Sans;
  font-size: 1rem;
}
.tutor_motiva p {
  line-height: 2rem;
  text-transform: uppercase;
}
.tutor_motiva_img img {
  width: 100%;
}

/* ------------------------------------------------------------------------------------------ */
/* -----MOTIVATION - END----- */
/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */
/* -----RECEVICE - START----- */
/* ------------------------------------------------------------------------------------------ */

.e_tutor_receive {
  padding: 2rem 0;
}
.tutor_receive_block {
  display: flex;
}
.tutor_receive_block {
  flex-direction: column-reverse;
}
.receive_block_ctt {
  padding: 1rem 2rem;
}
.tutor_receive_img {
  position: relative;
  width: 100%;
}
.tutor_receive_img img {
  width: 100%;
}
.receive_block_ttl {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.3rem;
  font-family: "Montserrat", Josefin Sans;
  margin-bottom: 1rem;
}
.receive_tip_ttl {
  color: var(--color_red_3);
}
.icon_blue,
.receive_exam_ttl {
  color: var(--color_blue_2);
}
.icon_red {
  color: var(--color_red_1);
}
.txt_fade {
  opacity: 0.6;
}

/* ------------------------------------------------------------------------------------------ */
/* -----RECEVICE - END----- */
/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */
/* -----IELTS TUTOR MOBILE - END----- */
/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */
/* -----IELTS TUTOR TABLET - START----- */
/* ------------------------------------------------------------------------------------------ */
@media only screen and (min-width: 740px) {
  .e_tutor_ctn {
    margin-top: 7rem;
  }
  .e_tutor_header {
    align-items: center;
  }
  .e_tutor_promise,
  .e_tutor_header {
    padding: 0 0;
  }
  .tutor_header_btns,
  .e_tutor_header {
    font-size: 1.1rem;
    text-align: center;
  }
  .tutor_header_logo img {
    height: 6rem;
    width: 6rem;
  }
  .tutor_header_img img {
    height: 6rem;
    width: 8rem;
  }
  .tutor_header_btns svg {
    display: none;
  }
  .tutor_promise_ttl p {
    font-size: 2.9rem;
  }
  .tutor_promise_sub_ttl {
    font-size: 2.2rem;
  }
  .promise_txt_item {
    flex-direction: row;
    text-align: left;
    column-gap: 1rem;
  }
  .promise_txt_item svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .promise_txt {
    width: 30rem;
    font-size: 1.2rem;
  }
  .tutor_achieve_ctt {
    text-align: center;
    line-height: 2.5rem;
  }
  .tutor_achieve_ctt h1 {
    font-size: 2rem;
  }
  .tutor_achieve_ctt p {
    font-size: 1.8rem;
  }
  .list_form_btn button {
    padding: 0.8rem 0.5rem;
  }
  .tutor_list_form {
    height: 42rem;
  }
  .list_form_ttl {
    height: 17rem;
  }
  .list_form_fill {
    padding: 1.5rem;
  }
  .tutor_list_ctt {
    flex-direction: row;
  }
  .special_ctt_item {
    padding: 0 1rem;
  }
  .e_tutor_congrats {
    flex-direction: row;
  }
  .tutor_congrats_img {
    position: relative;
    height: 100%;
  }
  .tutor_congrats_img img {
    position: absolute;
    height: 15rem;
    bottom: 0;
  }
  .e_tutor_motiva_bg {
    height: 35rem;
  }
  .tutor_receive_img,
  .tutor_motiva_img {
    position: relative;
  }
  .tutor_motiva_img img {
    position: absolute;
    transform: translateY(50%);
  }
  .e_tutor_motiva_bottom {
    bottom: -12px;
  }
  .tutor_receive_block {
    flex-direction: row;
  }
  .tutor_receive_img img {
    top: 50%;
    transform: translateY(180%);
  }
  .row_reverse {
    flex-direction: row-reverse;
  }
}
/* ------------------------------------------------------------------------------------------ */
/* -----IELTS TUTOR TABLET - END----- */
/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */
/* -----IELTS TUTOR PC - START----- */
/* ------------------------------------------------------------------------------------------ */
@media only screen and (min-width: 1024px) {
  .tutor_header_btns svg {
    display: block;
  }
  .tutor_special_ttl {
    padding-bottom: 2rem;
  }
  .tutor_congrats_arrow {
    display: flex;
    flex-direction: row;
  }
  .interact_bg {
    padding: 2rem;
  }
  .interact_item,
  .interact_ttl {
    text-align: left;
  }
  .interact_hr {
    margin: unset;
  }
  .interact_item {
    flex-direction: row;
    column-gap: 1rem;
  }
  .interact_txt p,
  .interact_txt h3 {
    font-size: 1.5rem;
  }
  .interact_txt p {
    line-height: 2.3rem;
  }
  .improve_btn {
    padding: 2rem;
  }
  .improve_bg_img {
    background-image: url(/assets/img/gia-su-ielts-bat-dung-benh-chua-dung-bai-min.jpg);
    background-position: center center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tutor_receive_img img {
    transform: translateY(55%);
  }
}
@media only screen and (min-width: 1100px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1300px) {
  .tutor_list_ctt,
  .wide {
    width: 940px;
    margin: 0 auto !important;
  }
  .tutor_list_ctt {
    width: 1200px;
  }
}
@media only screen and (min-width: 1400px) {
}
@media only screen and (min-width: 1500px) {
}
/* ------------------------------------------------------------------------------------------ */
/* -----IELTS TUTOR PC - END----- */
/* ------------------------------------------------------------------------------------------ */
