* {
  box-sizing: border-box;
}
/* -----TUTORS MOBILE START----- */
.outline_none {
  outline: 1px solid transparent;
}
.tutors_ctn {
  padding: 0 16px;
  margin-top: 2rem;
}
.tutors {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.tutor_card {
  margin-bottom: 1rem;
}
/* TUTOR HEADER START */
.tutors_head {
  align-items: center;
  margin-bottom: 2rem;
}
.tutors_head_num {
  flex-basis: 33.33%;
  align-self: center;
  display: flex;
  column-gap: 0.1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.tutors_head_num > div {
  font-size: 1.5rem;
  font-weight: 700;
  align-self: center;
  padding: 0.1rem 0.4rem;
}
.tutors_head_num .title_stl1 {
  color: var(--text-color);
}
.tutors_head_loctn {
  flex-basis: 33.33%;
  justify-content: center;
  margin-top: 0 !important;
}
.tutors_head_loctn > div {
  padding: 0.5rem 0.8rem;
  background-color: var(--speColor_3);
}
.tutors_head_loctn > div,
.tutors_head_sort > div {
  cursor: pointer;
  border-radius: 20px;
  column-gap: 0.5rem;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}
.tutors_head_sort > div {
  padding: 0.5rem 1rem;
  background-color: var(--btnColor_1);
}
.tutors_head_sort > div svg {
  display: block;
  width: 1.5rem;
}
.tutors_head_loctn > div svg {
  display: none;
}
.tutors_head_loctn > div span {
  font-weight: 700;
  align-self: center;
}
.tutors_loctn-txt {
  flex-direction: column;
}
.tutors_head_sort {
  flex-basis: 33.33%;
  align-self: center;
  display: flex;
  justify-content: right;
}
.tutors_head_sort > div span {
  font-weight: 700;
  align-self: center;
}
/* TUTOR HEADER END */

/* PAGE NUMBER BUTTON START */
.t_page_num {
  display: none;
}
.tutor_page_num {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  display: none;
}
.tutor_page_num > div {
  display: flex;
  column-gap: 0.2rem;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
.tutor_page_num > div > span {
  align-self: center;
  color: var(--text-color);
}
.tutor_page_num svg {
  width: 1rem;
}
.tutor_page_btn,
.tutors_page_end_btn {
  color: var(--text-color);
  background-color: var(--btnColor_1);
  border-radius: 10px;
}
.tutor_page_btn {
  width: 2.5rem;
  height: 2.5rem;
}
.tutors_page_end_btn {
  width: fit-content;
  height: 2.5rem;
  padding: 0 1rem;
}
/* PAGE NUMBER BUTTON END */

/* TUTOR CARD START */
.tutor_ctn {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 6px var(--box_shadow);
  border-radius: 20px;
}
.tutor_stl {
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
}
.tutor_stl {
  background-color: white;
  display: flex;
}
.tutor_img {
  flex-basis: 40%;
  display: flex;
  position: absolute;
}
.tutor_img img {
  width: 30%;
  margin: 0.8rem 0 0 0.8rem;
  border-top-left-radius: 20px;
  justify-self: center;
  align-self: center;
}
.tutor_info {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-self: center;
  padding: 0.5rem;
}
.tutor_title {
  flex-wrap: wrap;
  margin: 1vw 0 0 33vw;
}
.tutor_title_name {
  font-weight: 700;
}
.tutor_title_role {
  color: var(--speColor_2);
}
.tutor_tags {
  margin-top: 1.8rem;
  display: flex;
  column-gap: 0.5rem;
  row-gap: 0.2rem;
  flex-wrap: wrap;
}
.tutor_tags div {
  border-radius: 20px;
  padding: 0.3rem 1rem;
  background-color: var(--bgColor_1);
}
.tutor_intro,
.tutor_tags,
.tutor_bottom {
  color: var(--text-color);
}
.tutor_bottom {
  display: none;
  justify-content: space-between;
}
.tutor_bottom div {
  flex-basis: 33.33%;
  align-self: center;
}
.tutor_review_num,
.tutor_class_num {
  font-weight: 700;
}
.tutor_invite_btn {
  border-radius: 20px;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  margin: 0 0.5rem;
  background-color: var(--btnColor_1);
  font-weight: 700;
  display: flex;
  column-gap: 0.6rem;
  align-content: center;
  justify-content: center;
}
.tutor_invite_btn svg {
  width: 1.5rem;
}
.tutor_out_bottom {
  justify-content: space-between;
  background-color: var(--bgColor_3);
  padding: 0.8rem;
  display: flex;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.tutor_out_btn span,
.tutor_out_btn svg,
.tutor_out_review span,
.tutor_out_class span {
  color: var(--text-color);
}
.tutor_out_btn span,
.tutor_out_btn svg,
.tutor_out_num {
  font-weight: bold;
}
.tutor_out_btn svg {
  width: 1.5rem;
  height: 1.5rem;
}
.tutor_out_btn,
.tutor_out_review,
.tutor_out_class {
  align-items: center;
  column-gap: 0.3rem;
}
.tutor_out_btn {
  background-color: var(--btnColor_1);
  padding: 0.5rem 0.8rem;
  border-radius: 20px;
  cursor: pointer;
}
/* TUTOR CARD END */

/* TUTOR CONTACT START */
.tutors_contact_ctn {
  margin-bottom: 1rem;
}
.contact_phone_ipt input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}
.tutors_contact {
  padding: 0;
}
.tutors_contact {
  padding: 2rem 0;
  background-color: var(--bgColor_2);
  border: 1px solid var(--btnColor_1);
  border-radius: 20px;
}
.contact_ctt h2 {
  text-align: center;
  font-size: 2rem;
  text-shadow: 3px 3px 3px rgb(202 202 202);
  margin: 0;
}
.contact_ctt {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-content: center;
  padding: 0 1rem;
}
.contact_num_ctn {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.contact_num_stl1_zalo span,
.contact_numstl1_phone span {
  align-self: center;
}
.contact_num_ctn .contact_num_stl1_zalo,
.contact_num_ctn .contact_numstl1_phone {
  display: flex;
  column-gap: 0.3rem;
  font-weight: bold;
  justify-content: center;
}
/* TUTOR CONTACT END */
/* -----TUTORS MOBILE START----- */
@media only screen and (min-width: 340px) and (max-width: 409px) {
  .tutor_tags {
    margin-top: 0;
    margin-left: 33vw;
  }
  .tutor_tags {
    margin-left: 33vw;
  }
  .tutor_intro {
    /* margin-top: 10vw; */
  }
}
@media only screen and (min-width: 380px) and (max-width: 409px) {
  .tutor_intro {
    margin-top: 3rem;
  }
}
@media only screen and (min-width: 410px) and (max-width: 440px) {
  .tutor_img {
    position: unset;
  }
  .tutor_img img {
    width: 100%;
  }
  .tutor_info {
    flex-basis: 60%;
    padding: 0.5rem;
  }
  .tutor_img img,
  .tutor_tags,
  .tutor_title {
    margin: 0;
  }
  .tutor_img img {
    border-top-left-radius: unset;
  }
}
@media only screen and (min-width: 441px) {
  .tutor_img {
    position: unset;
  }
  .tutor_img img {
    width: 100%;
  }
  .tutor_tags,
  .tutor_title,
  .tutor_img img {
    margin: 0;
  }
  .tutor_info {
    flex-basis: 60%;
  }
}
/* -----TUTORS MOBILE END----- */

/* -----TUTORS TABLET START----- */
@media only screen and (min-width: 530px) {
  .tutor_out_bottom {
    justify-content: space-around;
  }
  .tutor_out_btn {
    display: flex;
    justify-content: center;
    width: 25vw;
  }
  .tutor_bottom {
    display: none;
  }
  .tutors_head_num {
    justify-content: center;
  }
  .tutors_head_loctn > div svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    align-self: center;
  }
  .tutors_head_sort {
    justify-content: center;
  }
  .contact_num_ctn,
  .contact_back {
    padding: 0 15vw;
  }
}

@media only screen and (min-width: 740px) {
  .tutors_ctn {
    padding: 0 32px;
    margin-top: 2rem;
  }
  .tutor_invite_btn {
    align-items: center;
  }
  .tutor_class,
  .tutor_review {
    justify-content: center;
    column-gap: 0.3rem;
  }
  .tutor_invite_btn svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .tutors_head_num {
    flex-wrap: nowrap;
    display: flex !important;
  }
  .contact_num_ctn,
  .contact_back {
    padding: 0;
  }
  .contact_back {
    align-self: center;
  }
}

/* -----TUTORS TABLET END----- */

/* -----TUTORS PC START----- */
@media only screen and (min-width: 1024px) {
  .tutor_img img {
    border-radius: unset;
  }
  .tutors_ctn {
    padding: 0 40px;
  }
  .tutor_stl {
    border-radius: 20px;
  }
  .tutors_head_num div {
    font-size: 2rem;
  }
  .tutors_loctn-txt {
    flex-direction: row;
    column-gap: 0.2rem;
  }
  .tutors_head_sort div span,
  .tutors_loctn-txt span {
    font-size: 1.2rem;
  }
  .tutors_head_loctn div {
    padding: 0.5rem;
  }
  .tutors_head_sort div {
    padding: 0.8rem 0;
  }
  .tutors_head_sort div svg,
  .tutors_head_loctn div svg {
    width: 2rem;
    height: 2rem;
  }
  .tutor_bottom {
    display: flex;
  }
  .m_page_num,
  .tutor_out_bottom {
    display: none;
  }
  .contact_num_ctn {
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
  }
  .tutors_contact_ctn {
    padding: 0 -8px;
  }
  .t_page_num {
    display: block;
  }
}
@media only screen and (min-width: 1300px) {
  .tutors_ctn {
    padding: 0 48px;
  }
}
/* -----TUTORS PC END----- */
