


/* Tutor Box Style 1 */ 
.tutor-style1-container {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow1);
}
.tutor-style1 {
    background-color: white;
    display: flex;
}
.tutor-style1_avatar {
    flex-basis: 40%;
    display: flex;
}
.tutor-style1_avatar img {
    width: 100%;
    justify-self: center;
    align-self: center;
}
.tutor-style1_info {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    align-self: center;
    padding: 0.5rem;
}
.tutor-style1_info_title_name {
    font-weight: 700;
}
.tutor-style1_info_title_role {
    color: var(--special-text-2);
}
.tutor-style1_info_tag {
    display: flex;
    column-gap: 0.5rem;
}
.tutor-style1_info_tag div {
    border-radius: 20px;
    padding: 0.3rem 1rem;
    background-color: var(--background-color);
}
.tutor-style1_info_description,
.tutor-style1_info_tag,
.tutor-style1_info_bottom {
    color: var(--text-color);
}
.tutor-style1_info_bottom {
    display: flex;
    justify-content: space-between;
}
.tutor-style1_info_bottom div{
    flex-basis: 33.33%;
    align-self: center;
}
.tutor-style1_info_bottom_review_value,
.tutor-style1_info_bottom_class_value {
    font-weight: 700;
}
.tutor-style1_info_bottom_moi-day-button {
    border-radius: 20px;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    margin: 0 0.5rem;
    background-color: var(--special-color-1);
    font-weight: 700;
    display: flex;
    column-gap: 0.6rem;
    align-content: center;
    justify-content: center;
}
.tutor-style1_info_bottom_moi-day-button svg {
    width: 1.5rem;
}
/*>=PC low resolution - 1024px*/
@media only screen and (min-width: 64em) {
    .tutor-style1_info_bottom.not-pc {
        display: none;
    }
}
/*Tablet - PC low resolution - 740px-1023px*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .tutor-style1_info_bottom.not-tablet {
        display: none;
    }
}
/*<= Mobile - <=739px*/
@media only screen and (max-width: 46.1875em) {
    .tutor-style1_info_bottom.not-mobile {
        display: none;
    }
}