* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Mitr", sans-serif;
}

:root {
  /* --this-background-color: #f5f7fc; */
  --this-background-color: var(--bgColor_1);
  /* --this-background-color-hover: #e0e2e7; */
  --this-background-color-hover: var(--border_color);
  --this-color: black;
}

/* -----TUTOR PROFILE MOBILE START ----- */
.profile_header_ctn {
  background-color: var(--this-background-color);
  display: flex;
  justify-content: center;
}
.profile_header {
  /* flex-basis: 960px; */
  width: 100%;
}
.head_content_ctn {
  padding: 0 16px;
}
svg {
  width: 1rem;
  height: 1rem;
}
hr {
  color: var(--border_color_2);
}
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* -----PROFILE HEADER START ----- */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
.head_banner {
  position: relative;
  background-image: url(/assets/img/banner-tutor-profile-demo.png);
  /* background-color: #2e8b57; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 5rem;
  height: 12rem;
  width: 100%;
  /* border-radius: 0 0 15px 15px; */
}
.banner_edit_ctn {
  position: absolute;
  bottom: 10.5rem;
  right: 0;
}
.banner_edit {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 1rem;
  background-color: var(--this-background-color);
  color: var(--this-color);
  padding: 0.8rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}
.banner_edit:hover {
  background-color: var(--this-background-color-hover);
}
.banner_edit span {
  display: none;
}
.head_avt {
  position: absolute;
  background-image: url("/assets/img/sun-sunglasses.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
  bottom: 52%;
  border: 5px solid var(--this-background-color);
  cursor: pointer;
}
.head_avt_blur {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}
.head_avt_blur:hover {
  background: rgba(255, 255, 255, 0.096);
}
.head_avt_edit {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--tranColor);
  font-size: 0.2rem;
  color: var(--this-color);
  padding: 5px 7px;
}
.head_title {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  position: relative;
}
.title_intro_ctn {
  text-align: center;
  margin-top: 10vw;
}
.title_point,
.title_point_ttl,
.head_basic_name,
.title_intro_dst {
  font-family: "Mitr", sans-serif;
}
.title_point_ttl {
  font-size: 1.2rem;
  margin-right: 2px;
}
.title_point_ctn {
  margin-top: 0.5rem;
}
.title_point {
  font-size: 1.2rem;
}
.title_point_icn svg {
  color: blue;
  width: 1rem;
  height: 1rem;
}
.head_basic_name {
  font-size: 1.2rem;
  text-align: left;
  margin-left: 10.5rem;
}
.head_menu,
.head_menu_btn,
.mobile_menu_items {
  display: flex;
}
.hr_line {
  height: 1px;
  background-color: var(--border_color_3);
  margin: 0.5rem 0;
}
.head_menu {
  flex-direction: column-reverse;
  padding-bottom: 5px;
}
.mobile_menu_items {
  justify-content: space-evenly;
}
.head_menu_item {
  padding: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.head_menu_item:hover {
  background-color: var(--this-background-color-hover);
}
.head_menu_btn {
  column-gap: 0.5rem;
  align-items: center;
  font-size: 1.3rem;
  padding: 1rem 1.6rem;
  border-radius: 10px;
  cursor: pointer;
  margin: 0.5rem 0.2rem;
}
.m_menu_option,
.tablet_menu_items {
  display: none;
}
#button-follow {
  margin-left: auto;
  /* background-color: #d5d7db; */
  background-color: var(--btnColor_2);
}
#button-follow:hover {
  background-color: var(--this-background-color-hover);
}
#button-invite {
  background-color: var(--btnColor_1);
  /* color: whitesmoke; */
}
#button-invite:hover {
  background-color: var(--btnColor_hover_1);
}
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* -----PROFILE HEADER END ----- */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* -----PROFILE BODY START ----- */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
.profile_body_ctn {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 36rem;
}
/* flex-basis: 960px; */
.profile_body {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
}
.body_l_contact,
.body_l_about {
  border-radius: 20px;
  background-color: var(--this-background-color);
  padding: 2rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.body_l_contact .title,
.body_l_about .title {
  font-size: 2rem;
  margin: 0 0 2rem 1;
}
.body_l_contact div,
.body_l_about div {
  font-size: 1.4rem;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  word-break: break-word;
}

.body_l_contact div img {
  margin-left: 0.3rem;
  width: 2rem;
  height: 2rem;
}
.body_l_contact div svg,
.body_l_about div svg {
  width: 2.8rem;
  height: 1.8rem;
  color: var(--speColor_1);
}
.contact_resume_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--btnColor_1);
  padding: 1rem;
  cursor: pointer;
}
.contact_resume_btn:hover {
  background-color: var(--btnColor_hover_1);
}
.body_l_about i {
  flex-basis: 7%;
}
.body_l_about .key {
  flex-basis: 30%;
}
.body_l_about .value {
  flex-basis: 60%;
  color: var(--text-for-background-color);
}
.body_l_about_tag {
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
}
.body_l_about_tag .tag {
  padding: 1rem 1.5rem;
  border-radius: 15px;
  background-color: #ffffff;
  color: var(--text-for-background-color);
}

.body_l_certifi {
  border-radius: 20px;
  background-color: var(--this-background-color);
  padding: 2rem 2rem 2rem 2rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.body_l_certifi .title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  margin: 0 0 2rem 1;
}
/* Block chuỗi sự kiện ở trong common.css */
.event_char div {
  font-size: 0.9rem;
}
.event_ctt_title {
  font-size: 1.2rem;
}
.event_ctt_date {
  font-size: 1rem;
}
.event_ctt_special {
  font-size: 1rem;
}
.event_ctt_body {
  font-size: 1rem;
}

.profile_body_l_media {
  padding: 1.5rem 2rem;
  border-radius: 20px;
  background-color: var(--this-background-color);
  margin: 2rem 0;
}
.body_l_media_head {
  margin: 0 0 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body_l_media_head .title {
  font-size: 2rem;
}
.body_l_media_head span {
  font-size: 1.6rem;
  color: var(--speColor_1);
  padding: 1rem 1.6rem;
  border-radius: 10px;
  cursor: pointer;
}
.body_l_media_head span:hover {
  background-color: var(--this-background-color-hover);
}
.body_l_media_portfo {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 4px;
  grid-row-gap: 1px;
  align-items: center;
  text-align: center;
}
.body_l_media_portfo .photo img {
  max-height: 100%;
  max-width: 100%;
}
.border-top-left img {
  border-radius: 10px 0 0 0;
}
.border-top-right img {
  border-radius: 0 10px 0 0;
}
.border-bottom-right img {
  border-radius: 0 0 10px 0;
}
.border-bottom-left img {
  border-radius: 0 0 0 10px;
}
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/*----- TUTOR STATUS START -----*/
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.body_r_head {
  background-color: var(--bgColor_1);
  border-radius: 20px;
}
.r_head_stt {
  padding: 1.5rem 2rem;
}
.head_stt_add,
.head_stt_input {
  display: flex;
}
.head_stt_input {
  column-gap: 1rem;
  align-items: center;
}
.head_stt_input p {
  background-color: var(--btnColor_2);
  margin: unset;
  padding: 1rem;
  width: 100%;
  border-radius: 20px;
}
.head_stt_input img {
  border-radius: 50%;
  width: 42px;
  height: 42px;
}
.head_stt_add {
  row-gap: 0.5rem;
  flex-direction: column;
}
.stt_add_element {
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  background-color: var(--btnColor_2);
  border-radius: 10px;
}
.stt_add_element:hover {
  background-color: var(--this-background-color-hover);
}
.stt_add_element svg {
  width: 2rem;
  height: 2rem;
  color: var(--speColor_1);
}
.ctt_ctn {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  background-color: var(--this-background-color);
}
.ctt_ctn_head {
  display: flex;
  padding: 0 2rem;
}
.ctt_ctn_head_l {
  flex-basis: 10%;
}
.ctt_ctn_head_l img {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 50%;
}
.ctt_ctn_head_m {
  flex-basis: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ctt_ctn_head_m_name {
  font-size: 1.4rem;
}
.ctt_ctn_head_m_date {
  color: var(--text-for-background-color);
}
.ctt_ctn_head_r {
  font-size: 1.6rem;
  color: var(--text-for-background-color);
  display: flex;
  align-items: center;
}
.ctt_ctn_head_r div {
  cursor: pointer;
  border-radius: 50%;
  padding: 1rem;
}
.ctt_ctn_head_r div:hover {
  background-color: var(--this-background-color-hover);
}
.ctt_ctn_head_r {
  flex-basis: 5%;
}

.ctt_ctn_body {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.ctt_ctn_body_txt {
  padding: 0 2rem;
  font-size: 1.4rem;
  color: var(--this-color);
  margin-top: 0.8rem;
}
.ctt_ctn_body_txt_more {
  color: var(--text-for-background-color);
  cursor: pointer;
}
.ctt_ctn_body_txt_more:hover {
  text-decoration: underline;
}

.ctt_ctn_body_media img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.ctt_ctn_bottom {
  padding: 0 2rem;
  display: flex;
  font-size: 1.4rem;
  color: var(--text-for-background-color);
}
.ctt_ctn_bottom_btn {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 8px;
}
.ctt_ctn_bottom_btn:hover {
  background-color: var(--this-background-color-hover);
}

.ctt_ctn_hr {
  width: 92%;
  border-top: 0.1px solid var(--text-for-background-color);
  border-bottom: 00px solid var(--text-for-background-color);
}

.ctt_ctn_comment {
  padding: 0 2rem;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/*----- TUTOR STATUS START -----*/
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* -----PROFILE BODY END ----- */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* -----TUTOR PROFILE MOBILE END ----- */

/* -----TUTOR PROFILE TABLET START ----- */
@media only screen and (min-width: 530px) {
  .title_point,
  .head_basic_name {
    font-size: 1.5rem;
  }
  .title_intro_ctn {
    margin-top: 8vw;
  }
  .head_menu_btns {
    display: flex;
  }
  .head_banner {
    height: 35vw;
  }
  .head_avt {
    bottom: 16vw;
  }
  .banner_edit_ctn {
    bottom: 115%;
  }
  .stt_add_element,
  .head_menu_btn {
    flex-basis: 50%;
    justify-content: center;
  }
  .head_stt_add {
    flex-direction: row;
    column-gap: 0.5rem;
  }
}
@media only screen and (min-width: 740px) {
  .head_basic_name {
    font-size: 1.8rem;
  }
  .mobile_menu_items {
    display: none;
  }
  .tablet_menu_items,
  .title_intro_ctn,
  .banner_edit span {
    display: flex;
  }
  .tablet_menu_items {
    justify-content: space-evenly;
  }
  .avt_edit svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .head_avt {
    height: 178px;
    width: 178px;
    bottom: 6vw;
  }
  .banner_edit_ctn {
    bottom: 125%;
  }
  .title_intro_ctn {
    align-items: center;
    margin-top: 4vw;
  }
  .head_basic_name {
    margin-left: 12.5rem;
  }
  .title_point_ctn,
  .title_l_ctn {
    flex-basis: 25%;
  }
  .title_intro_dst {
    flex-basis: 50%;
    font-size: 1.2rem;
  }
}
/* -----TUTOR PROFILE TABLET END ----- */

/* -----TUTOR PROFILE PC START ----- */
@media only screen and (min-width: 1024px) {
  .head_content_ctn {
    padding: 0 80px;
  }
  .head_banner {
    height: 20rem;
  }
  .head_menu {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .head_avt {
    bottom: 3vw;
  }
  .head_menu_btn {
    padding: 1rem 1.6rem;
    flex-basis: unset;
  }
}
@media only screen and (min-width: 1200px) {
  .head_content_ctn {
    width: 984px;
    padding: unset;
    margin: 0 auto;
  }
}
/* -----TUTOR PROFILE PC END ----- */
