* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Nunito", sans-serif;
}

:root {
  /* --this-background-color: #f5f7fc; */
  --this-background-color: var(--bgColor_1);
  /* --this-background-color-hover: #e0e2e7; */
  --this-background-color-hover: var(--border_color);
  --this-color: black;
}

/* -----TUTOR PROFILE MOBILE START ----- */
.profile_header_ctn {
  background-color: var(--this-background-color);
  display: flex;
  justify-content: center;
}
.profile_header {
  /* flex-basis: 960px; */
  width: 100%;
}
.head_content_ctn {
  padding: 0 16px;
}
svg {
  width: 1rem;
  height: 1rem;
}
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* -----HEADER BANNER START ----- */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
.head_banner {
  position: relative;
  background-image: url(/assets/img/banner-tutor-profile-demo.png);
  /* background-color: #2e8b57; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 5rem;
  height: 12rem;
  width: 100%;
  /* border-radius: 0 0 15px 15px; */
}
.banner_edit_ctn {
  position: absolute;
  bottom: 10.5rem;
  right: 0;
}
.banner_edit {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 1rem;
  background-color: var(--this-background-color);
  color: var(--this-color);
  padding: 0.8rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}
.banner_edit:hover {
  background-color: var(--this-background-color-hover);
}
.banner_edit span {
  display: none;
}
.head_avt {
  position: absolute;
  background-image: url("/assets/img/sun-sunglasses.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
  bottom: 52%;
  border: 5px solid var(--this-background-color);
  cursor: pointer;
}
.head_avt_blur {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}
.head_avt_blur:hover {
  background: rgba(255, 255, 255, 0.096);
}
.head_avt_edit {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--tranColor);
  font-size: 0.2rem;
  color: var(--this-color);
  padding: 5px 7px;
}
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* -----HEADER BANNER END----- */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* -----HEADER TITLE START----- */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
.head_title {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  position: relative;
}
.title_intro_ctn {
  text-align: center;
  margin-top: 10vw;
}
.title_point,
.title_point_ttl,
.head_basic_name,
.title_intro_dst {
  font-family: "Mitr", sans-serif;
}
.title_point_ttl {
  font-size: 1.2rem;
  margin-right: 2px;
}
.title_point_ctn {
  margin-top: 0.5rem;
}
.title_point {
  font-size: 1.2rem;
}
.title_point_icn svg {
  color: blue;
  width: 1rem;
  height: 1rem;
}
.head_basic_name {
  font-size: 1.2rem;
  text-align: left;
  margin-left: 10.5rem;
}
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* -----HEADER TITLE END----- */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* -----HEADER MENU START----- */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
.head_menu,
.head_menu_btn,
.mobile_menu_items {
  display: flex;
}
.head_menu {
  flex-direction: column-reverse;
  padding-bottom: 5px;
}
.mobile_menu_items {
  justify-content: space-evenly;
}
.head_menu_item {
  padding: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: bold;
}
.head_menu_item:hover {
  background-color: var(--this-background-color-hover);
}
.head_menu_btn {
  column-gap: 0.5rem;
  align-items: center;
  font-size: 1.3rem;
  padding: 1rem 1.6rem;
  border-radius: 10px;
  cursor: pointer;
  margin: 0.5rem 0.2rem;
}
.m_menu_option,
.tablet_menu_items {
  display: none;
}
#button-follow {
  margin-left: auto;
  /* background-color: #d5d7db; */
  background-color: var(--btnColor_2);
}
#button-follow:hover {
  background-color: var(--this-background-color-hover);
}
#button-invite {
  background-color: var(--btnColor_1);
  /* color: whitesmoke; */
}
#button-invite:hover {
  background-color: var(--btnColor_hover_1);
}
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* -----HEADER MENU END----- */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* -----TUTOR PROFILE MOBILE END ----- */

/* -----TUTOR PROFILE TABLET START ----- */
@media only screen and (min-width: 530px) {
  .title_point,
  .head_basic_name {
    font-size: 1.5rem;
  }
  .title_intro_ctn {
    margin-top: 8vw;
  }
  .head_menu_btns {
    display: flex;
  }
  .head_banner {
    height: 35vw;
  }
  .head_avt {
    bottom: 16vw;
  }
  .banner_edit_ctn {
    bottom: 115%;
  }
  .head_menu_btn {
    flex-basis: 50%;
    justify-content: center;
  }
}
@media only screen and (min-width: 740px) {
  .head_basic_name {
    font-size: 1.8rem;
  }
  .mobile_menu_items {
    display: none;
  }
  .tablet_menu_items,
  .title_intro_ctn,
  .banner_edit span {
    display: flex;
  }
  .tablet_menu_items {
    justify-content: space-evenly;
  }
  .avt_edit svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .head_avt {
    height: 178px;
    width: 178px;
    bottom: 6vw;
  }
  .banner_edit_ctn {
    bottom: 125%;
  }
  .title_intro_ctn {
    align-items: center;
    margin-top: 4vw;
  }
  .head_basic_name {
    margin-left: 12.5rem;
  }
  .title_point_ctn,
  .title_l_ctn {
    flex-basis: 25%;
  }
  .title_intro_dst {
    flex-basis: 50%;
    font-size: 1.2rem;
  }
}
/* -----TUTOR PROFILE TABLET END ----- */

/* -----TUTOR PROFILE PC START ----- */
@media only screen and (min-width: 1024px) {
  .head_content_ctn {
    padding: 0 80px;
  }
  .head_banner {
    height: 20rem;
  }
  .head_menu {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .head_avt {
    bottom: 3vw;
  }
  .head_menu_btn {
    padding: 1rem 1.6rem;
    flex-basis: unset;
  }
}
@media only screen and (min-width: 1100px) {
  /* .head_content_ctn {
    width: 984px;
    margin: 0 auto;
  } */
}
@media only screen and (min-width: 1200px) {
  .head_content_ctn {
    width: 984px;
    padding: unset;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1300px) {
  /* .head_content_ctn {
    width: 1200px;
  } */
}
/* -----TUTOR PROFILE PC END ----- */
